# Since these ignore rules are shared between Git and Docker, every rule should take one of three forms:
# **/SOME_PATTERN
# /SOME_PATTERN
# !/SOME_PATTERN

**/__pycache__
**/.DS_Store
**/.vscode
**/*.pickle
**/*.pt
**/*.sqlite
**/.coverage
**/.env
**/.git
**/.mypy_cache
**/.pre-commit-home
/data
/ice/contrib
/papers/*.pdf
/papers/*.txt
!/papers/keenan-2018-tiny.txt
!/papers/keenan-2018.pdf
/store
/ui/.next/
/ui/node_modules
/ui/public/traces/*.jsonl
/kelvin/.next/
/kelvin/node_modules
/kelvin/public/traces/*.jsonl
