**/__pycache__
**/.DS_Store
**/.vscode
**/*.pickle
**/*.pt
**/*.sqlite
/.coverage
/.env
/.git
/.mypy_cache
/.pre-commit-home
/build/
/data
/dist/
/ice/contrib/*/
/ice/routes/ui/
/ice/version.py
/papers/*.pdf
/papers/*.txt
!/papers/keenan-2018-tiny.txt
!/papers/keenan-2018.pdf
/store
/ui/.next/
/ui/node_modules
/venv/
