**/__pycache__
**/.DS_Store
**/.vscode
**/*.egg-info
/.coverage
/.env
/.git
/.mypy_cache
/.pre-commit-home
/build/
/dist/
/ice/routes/ui/
/ice/version.py
/papers/*.csv
/papers/*.pdf
/papers/*.txt
!/papers/keenan-2018-tiny.txt
!/papers/keenan-2018.pdf
/ui/node_modules
/venv/
ui/storybook-static/
